<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <script  src="angular.js"></script>
    <script type="text/javascript">
         var appModule = angular.module('myApp', []);
        appModule.controller("TestFormModule",function($scope){
        $scope.user={
            userName:'damoqiongqiu',
            password:''
    };
    $scope.save=function(){
        console.log($scope.user);
        alert("保存数据!");
    }});
    </script>
  </head>
  <body>
<form name="myForm" ng-submit="save()" ng-controller="TestFormModule">
              <input name="userName" type="text" ng-model="user.userName" required/>
              <input name="password" type="password" ng-model="user.password" required/>
              <input type="submit" ng-disabled="myForm.$invalid"/>
        </form>
  </body>
</html>